<style>
    #external-events {
        float: left;
        min-width: 150px;
        width: 25%;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        width: 70%;
    }

    #unschedule {
        height: 50px;
        border: 1px solid black;
        margin: 1em 0;
        background: white;
        border-radius:  5px;
    }

    #unschedule p{
        text-align: center;
        font-weight: bold;
    }

    .individual-event{
        padding: 5px;
        background: #d2d2d2;
        color: black;
        border: 1px solid black;
    }

</style>
<div id='wrap'>
    <div id='external-events'>
        <h4>Events</h4>
        <div id="unschedule">
            <p>Drag Here to Unschedule</p>
        </div>
        <div id="unscheduled-items">
        {% for event in events %}
            <div class='fc-event individual-event' data-nid="{{ event.id }}" data-entity="{{ event.getEntityTypeId }}" data-bundle="{{ event.bundle }}">{{ event.title.0.value }} ( {{ event.bundle | capitalize }} )</div>
        {%  endfor %}
        </div>
    </div>
    <div id='calendar'></div>
    <div class="clearfix"></div>
</div>